<mat-form-field>
  <input matInput [placeholder]="searchPlaceholder" (keyup)="search($event)">
  <mat-icon class="ml-2 position-absolute" style="top: 4px; right: 10px;">search</mat-icon>
</mat-form-field>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" [style.display]="isDisplayed(node) ? 'flex' : 'none'" matTreeNodeToggle
    matTreeNodePadding>
    <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
      (change)="leafItemSelectionToggle(node)">
      {{node.item}}
    </mat-checkbox>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [style.display]="isDisplayed(node) ? 'flex' : 'none'"
    matTreeNodePadding>
    <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="itemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
      </mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
