<!-- search box -->
<mat-form-field>
  <input #searchBox matInput [placeholder]="searchPlaceholder" (keyup)="search($event)">
  <mat-icon class="ml-2 position-absolute" style="top: 4px; right: 10px;">search</mat-icon>
</mat-form-field>

<!-- tree with checkboxes -->
<div *ngIf="!isNoResult">
  <cdk-virtual-scroll-viewport itemSize="18" class="virtual-scroll-container">
    <ng-container *cdkVirtualFor="let node of dataSource">
      <div *ngIf="node.level === 1" [style.padding-left]="node.level * 24 + 'px'">
        <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
          (change)="leafItemSelectionToggle(node)">
          {{node.item}}
        </mat-checkbox>
      </div>

      <div *ngIf="node.level === 0">
        <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
          (change)="itemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.item" (click)="treeControl.toggle(node)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
          </mat-icon>
        </button>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>

<!-- no result found -->
<div *ngIf="isNoResult">
  <div>No results found</div>
</div>

<!-- action buttons -->
<button (click)="selectAll()">SELECT ALL</button>
<button (click)="clearAll()">CLEAR ALL</button>
