<!-- search box -->
<mat-form-field>
  <input #searchBox matInput [placeholder]="searchPlaceholder" (keyup)="search($event)">
  <mat-icon class="ml-2 position-absolute" style="top: 4px; right: 10px;">search</mat-icon>
</mat-form-field>

<!-- tree with checkboxes -->
<div *ngIf="!isNoResult">
  <cdk-virtual-scroll-viewport itemSize="18" class="virtual-scroll-container">
    <ng-container *cdkVirtualFor="let node of dataSource">
      <div [style.padding-left]="node.level * 24 + 'px'">
        <button (click)="treeControl.toggle(node)" *ngIf="node.level === 0">
          {{ treeControl.isExpanded(node) ? '-' : '+' }}
        </button>
        {{ node.item }}
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>

<!-- no result found -->
<div *ngIf="isNoResult">
  <div>No results found</div>
</div>

<!-- action buttons -->
<button (click)="selectAll()">SELECT ALL</button>
<button (click)="clearAll()">CLEAR ALL</button>
